extends background.pug 

block content
  if success
    h1(class="title has-text-success") Success!
    p Blackbaud account successfully linked
  else 
    h1(class="title has-text-danger") Error
    p=errorText